<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Dual - <%= title %> </title>
    <%- include('../views/partials/head.ejs'); %>
</head>

<body>
    <!-- header -->
    <%- include('../views/partials/header.ejs'); %>
    <!-- /header -->

    <div class="container">
        <div class="row justify-content-center" id="icons">
            <div class="col-6 col-sm-3">
                <a href="upload">
                    <svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" fill="currentColor"
                        class="bi bi-file-person-fill" viewBox="0 0 16 16">
                        <path
                            d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z" />
                    </svg>
                </a>
                <br>
                <h3>Aluno</h3>
            </div>
            <div class="col-6 col-sm-3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="256" height="256" fill="currentColor"
                        class="bi bi-file-person-fill" viewBox="0 0 16 16">
                        <path
                            d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm-1 7a3 3 0 1 1-6 0 3 3 0 0 1 6 0zm-3 4c2.623 0 4.146.826 5 1.755V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1v-1.245C3.854 11.825 5.377 11 8 11z" />
                    </svg>
                <br>
                <h3>Professor</h3>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer>
        <%- include('../views/partials/footer.ejs'); %>
    </footer>
    <!-- footer -->
    <%- include('../views/partials/bootstrap_js.ejs'); %>
</body>

</html>