<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Dual - <%= title %> </title>
    <%- include('../views/partials/head.ejs'); %>
</head>

<body>
    <%- include('../views/partials/header.ejs');  %>
    <form class="form" action="upload">
        <div class="form-group card">
            <div class="card-top">
                <h2>DUAL</h2>
            </div>
            <div class="card-group">
                <input class="form-control" type="text" name="username" placeholder="Usuário" required>
            </div>
            <div class="card-group">
                <input class="form-control" type="password" name="password" placeholder="Senha" required>
            </div>
            <div class="card-group">
                <a class="esqueceuSenha" href="/views/redefinirSenha.ejs">Esqueceu a senha?</a>
            </div>
            <div class="card-group">
                <button class="btn btn-dark" type="submit">Login</button>
            </div>
        </div>
    </form>
    <%- include('../views/partials/footer.ejs'); %>
    <%- include('../views/partials/bootstrap_js.ejs'); %>
</body>
</html>
